<h1>Hipstarter</h1>

<% if @fundraisers.any? %>
  <ul>
  <% @fundraisers.each do |fundraiser| %>
    <li><strong><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></strong></li>

  <% end %>
  </ul>
  <% else %>
  <p>There are no hipsters added yet! Head to Hawthorne to find more</p>
<% end %>

<% if current_user.admin || current_user.fundraiser == nil %>
  <%= link_to "Add a Hipster", new_fundraiser_path, class: "add_hipster", remote: true %>
<% end %>
