<style>
  .navbar {
    display: none;
  }
</style>

<div class="overlay">
</div>

<div class="landing-page-wrapper absolutely-centered">
  <h1 class="page-header mega">HIPSTARTER</h1>

  <p class="lead">
    Connecting givers and hipsters. Because every hipster deserves a craft brew.
  </p>

  <%= link_to "Adopt a Hipster", fundraisers_path, class:"buttonify large" %>
</div>
