/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'london';
  src:url("/fonts/London.ttf");
}

@font-face {
  font-family: 'besom';
  src:url("/fonts/Besom.ttf");
}

h2 {
  font-family: london;
}

h1 {
  font-family: london;
}

body {
  background-image: url("/images/hipster.jpg");
}

a {
  font-family: besom;
  font-size: 1.5em;
}

.camera_icon {
  height: 75px;
  width: auto;
}

ul
{
  list-style-type: none;
}

.navbar {
  background-image: url("/images/wood_bar.jpg");
  overflow: hidden;
  color: white;
  border: 0px
}

a {
  color: brown;
}

a:hover {
  color: yellow;
}
