@import "bootstrap-sprockets";
@import "bootstrap";

.absolutely-centered {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  color: white;
  border-radius: 5px;
  background: #08c;
  text-align: center;
  line-height: 100px;
  &:hover {
    cursor: pointer;
  }
}

#chargeform {
  width: 260px;
  background: url("/images/wood_bar.jpg");
  border-radius: 5px;
  text-align: center;
  padding: 40px 20px;
  input {
    height: 35px;
    line-height: 20px;
    font-size: 23px;
    color: #555;
  }
  button {
    margin-top: 20px;
    background-color: black;
    border: 2px solid white;
    font-size: 20px;
    width: 100%;
  }
  #custom_amount {
    height: 45px;
    font-size: 30px;
  }
}
