@import "bootstrap-sprockets";
@import "bootstrap";

.absolutely-centered {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  &:hover {
    cursor: pointer;
  }
}

#chargeform {
  width: 260px;
  background: url("/images/wood_bar.jpg");
  border-radius: 5px;
  text-align: center;
  padding: 40px 20px;
  input {
    height: 35px;
    line-height: 20px;
    font-size: 23px;
    color: #555;
  }
  button {
    margin-top: 20px;
    background-color: black;
    border: 2px solid white;
    font-size: 20px;
    width: 100%;
  }
  #custom_amount {
    height: 45px;
    font-size: 30px;
  }
}

.flash-wrapper {
  position: fixed;
  bottom: -60px;
  left: 0;
  height: 240px;
  width: 1450px;
  background-image: image-url("pbr");
  z-index:9999;
  // transform: scale(.9,.9);
  // transform-origin: 0% 0%;
  p {
    font-size: 25px;
    color: white;
    text-align: center;
    width: 75vw;
    margin: 100px auto;
  }
}

.overlay {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: image-url("screen_overlay.png");
  background-repeat: repeat;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
}

.mega {
  font-size: 6em;
  font-weight: bold;
}

.landing-page-wrapper {
  width: 520px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  .lead {
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    margin-top: 0;
  }
  a.buttonify {
    width: 100%;
    font-family: typewriter;
    font-size: 3em;
    border: 1px solid white;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 15px;
    &:hover {
      text-decoration: none;
      background: rgba(255,255,255,.2);
    }
  }
}
